//
// Icon Font: deltafont
//

@font-face {
  font-family: "deltafont";
  src: url("../fonts/customfont/deltafont.eot");
  src: url("../fonts/customfont/deltafont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/customfont/deltafont.woff") format("woff"),
       url("../fonts/customfont/deltafont.ttf") format("truetype"),
       url("../fonts/customfont/deltafont.svg#deltafont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "deltafont";
    src: url("../fonts/customfont/deltafont.svg#deltafont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-down:before,
.icon-lock:before,
.icon-question:before,
.icon-test:before {
  display: inline-block;
  font-family: "deltafont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-down:before { content: "\f102"; }
.icon-lock:before { content: "\f103"; }
.icon-question:before { content: "\f104"; }
.icon-test:before { content: "\f105"; }

$font-deltafont-down: "\f102";
$font-deltafont-lock: "\f103";
$font-deltafont-question: "\f104";
$font-deltafont-test: "\f105";
